<div class="content-main">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Ingrese datos del paciente</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">
                <div [hidden]="true">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="ID" required formControlName="id">
                    </mat-form-field>
                </div>
                <mat-form-field>
                     <!-- La palabra f hace rferencia a la función de solo lectura -->
                    <div *ngIf="f.nombres.errors?.required" class="invalido">El campo es requerido</div>
                    <div *ngIf="f.nombres.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</div>
                    <input matInput placeholder="Nombres" required minlength="3" formControlName="nombres">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Apellidos" required formControlName="apellidos">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="DNI" required formControlName="dni">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput placeholder="Correo" required formControlName="email">
                </mat-form-field>
                
                <mat-form-field>
                    <input matInput placeholder="Teléfono" formControlName="telefono">
                </mat-form-field>

                <mat-form-field>
                    <textarea matInput placeholder="Dirección" formControlName="direccion"></textarea>
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
                    <mat-icon>done</mat-icon>
                    <span>Aceptar</span>
                </button>
                <button mat-raised-button color="accent" (click)="cancelar()" type="button">
                    <mat-icon>close</mat-icon>
                    <span>Cancelar</span>
                </button>

            </form>
        </mat-card-content>
    </mat-card>
</div>