<h1 mat-dialog-title>Sesión</h1>
<div mat-dialog-content>
   
   <p>Desea Mantener la sesión?</p>

</div>
<div mat-dialog-actions>
   <button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
   <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
</div>