<p>Lista de Médicos !</p>

<div class="example-header">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar Médico">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- IdPaciente Column -->
        <ng-container matColumnDef="idMedico">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Médico </th>
            <td mat-cell *matCellDef="let element"> {{element.idMedico}} </td>
        </ng-container>

        <!-- Nombres Column -->
        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>

        <!-- Apellidos Column -->
        <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click) ="abrirDialogo(element)">
                    <mat-icon>ballot</mat-icon>
                </button>
                <button mat-button color="accent" (click)="eliminar(element.idMedico)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- displayedColumns: esta en el ts y define el nombre de las columnas para el datasout -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <button mat-fab color="primary" style="float: right; margin-right: 20px;" (click)='abrirDialogo()' >
        <mat-icon>create</mat-icon>
    </button>
</div>
