<mat-toolbar>
    <span>REPORTE CONUSLTA</span>
</mat-toolbar>

<button mat-button color="primary" (click)="cambiar('line')">Lineal</button>
<button mat-button color="primary" (click)="cambiar('bar')">Barras</button>
<button mat-button color="primary" (click)="cambiar('doughnut')">Rosquillas</button>
<button mat-button color="primary" (click)="cambiar('radar')">Radar</button>
<button mat-button color="primary" (click)="cambiar('pie')">Pie</button>

<div [hidden]="!chart">
    <canvas id="canvas">{{chart}}</canvas>
</div>

<button mat-raised-button color="primary" (click)="generarReporte()">PDF</button>
<button mat-raised-button color="primary" (click)="descargarReporte()">Descargar PDF</button>

<pdf-viewer [src]="pdfSRC" [render-text]="true" style="display:block;"></pdf-viewer>

<button mat-raised-button color="primary" onclick="document.getElementById('fArchivo').click()">Seleccionar</button>
<input id='fArchivo' type="file" style="display: none;" (change)="seleccionarArchivo($event)">
<p>{{nombreArchivo}}</p>
<button mat-raised-button color="primary" [disabled]="!archivosSeleccionados" (click)="subirArchivo()">Subri Archivo</button>

<button mat-raised-button color="primary" (click)="accionImagen('M')">Mostrar</button>
<button mat-raised-button color="primary" (click)="accionImagen('O')">Ocultar</button>

<img mat-card-image [src]="imagenData" *ngIf="imagenEstado">