<!-- Router oulet permite navegar a los hijos del padre, este componente debe ir siempre en el padre -->
<router-outlet></router-outlet> 
<p>Lista de Pacients !</p>

<div class="example-header">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar Paciente">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- IdPaciente Column -->
        <ng-container matColumnDef="idPaciente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Paciente </th>
            <td mat-cell *matCellDef="let element"> {{element.idPaciente}} </td>
        </ng-container>

        <!-- Nombres Column -->
        <ng-container matColumnDef="nombres">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
            <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
        </ng-container>

        <!-- Apellidos Column -->
        <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
            <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" [routerLink]="[ 'edicion', element.idPaciente]">
                    <mat-icon>ballot</mat-icon>
                </button>
                <button mat-button color="accent" (click)="eliminar(element.idPaciente)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- displayedColumns: esta en el ts y define el nombre de las columnas para el datasout -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>

    <button mat-fab color="primary" style="float: right" routerLink="nuevo">
        <mat-icon>edit</mat-icon>
    </button>
</div>