.content{
  margin: 0 auto;
  padding-top: 20px;
  width: 600px;

}

.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: URL('https://f0.pngfuel.com/png/312/283/man-face-clip-art-png-clip-art-thumbnail.png');
    background-size: cover;
  }