<mat-toolbar>
    <span>Mi Perfil</span>
</mat-toolbar>
<div class="content">
   
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{usuario}}</mat-card-title>
            <mat-card-subtitle>Usuario</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://i.pinimg.com/originals/50/83/e0/5083e0a2a7dcaae07c142e8b87036a27.gif" alt="Programer">
        <mat-card-content>
            <p><strong>ROL</strong></p>
            <br>
            <div *ngFor="let r of roles">
                <p>{{r}}</p>
            </div>
        </mat-card-content>
    </mat-card>

</div>