.example-container{
    display: flex;
    flex-direction: column;
    padding: 54px 54px 10px 54px;
 }

 .example-container>*{
     width: 100%;
     
 }

 .example-spacer{
     flex: 1 1 auto;
 }

 .buttom-seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
 }