<mat-toolbar>
    <span>REGISTRO CONSULTA ESPECIAL</span>
</mat-toolbar>

<!-- Para trabajar con formularios verificar que el modulo ReactiveFormsModule este en appModulos -->
<form class="example-container" [formGroup]="form" (ngSubmit)="registrar()" #consultaForm="ngForm">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Paciente" aria-label="Paciente" matInput [formControl]="myControlPaciente"
            [matAutocomplete]="autoPaciente" formContrlName="paciente">

        <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente"
            (optionSelected)="seleccionarPaciente($event)">
            <mat-option *ngFor="let p of pacientesFiltrados | async" [value]="p">
                {{p.nombres}}{{p.apellidos}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Especialidad</mat-label>
        <mat-select placeholder="Especialidad" [(value)]='especialidadSeleccionado' formControlName=especialidad>
            <mat-option *ngFor="let e of especialidades" [value]="e">
                {{e.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Medico" aria-label="Medico" matInput [formControl]="myControlMedico"
            [matAutocomplete]="autoMedico" formContrlName="medico">

        <mat-autocomplete #autoMedico="matAutocomplete" [displayWith]="mostrarMedico"
            (optionSelected)="seleccionarMedico($event)">
            <mat-option *ngFor="let p of medicosFiltrados | async" [value]="p">
                {{p.nombres}}{{p.apellidos}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha"
            formControlName="fecha" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Diagnóstico" [(ngModel)]="diagnostico" formControlName="diagnostico"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Tratamiento" [(ngModel)]="tratamiento" formControlName="tratamiento"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent" type="button" (click)="agregarDetalle()">
        Agregar Detalle
        <mat-icon>add</mat-icon>
    </button>

    <mat-accordion>

        <mat-expansion-panel *ngFor="let d of detalleConsulta ; let i=index" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{i+1}} {{d.diagnostico}}
                </mat-panel-title>
                <mat-panel-description>
                    Ver Tratamiento
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <textarea matInput placeholder="Tratamiento" cols="70" rows="3" value={{d.tratamiento}}></textarea>
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="removerDiagnostico(i)">
                Remover
                <mat-icon>delete</mat-icon>
            </button>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-form-field>
        <mat-label>Exámenes</mat-label>
        <mat-select placeholder="Exámen" [(value)]='examenSeleccionado'>
            <mat-option *ngFor="let ex of examenes" [value]="ex">
                {{ex.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="accent" type="button" (click)="agregarExamen()">
        Agregar Exámen
        <mat-icon>add</mat-icon>
    </button>

    <mat-toolbar *ngFor="let es of examenesSeleccionados; let i=index">
        <span>{{es.nombre}}</span>
        <button mat-raised-button color="warn" (click)="removerExamen(i)">
            Remover
            <mat-icon>delete</mat-icon>
        </button>
    </mat-toolbar>
    <br>
    <br>

    <div class="buttom-seccion">
        <button  mat-raised-button color="accent" [disabled]="estadoBotonRegistrar()">
            REGISTRAR
            <mat-icon>save</mat-icon>
        </button>
    
    </div>

</form>