<mat-toolbar>
    <span>Signos</span>
</mat-toolbar>

<!-- Router oulet permite navegar a los hijos del padre, este componente debe ir siempre en el padre -->
<router-outlet></router-outlet>

<div [hidden]="route.children.length !== 0">
    <div class="example-header">
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar Signos">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort>

            <!-- IdExamen Column -->
            <ng-container matColumnDef="idSignos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Signos </th>
                <td mat-cell *matCellDef="let element"> {{element.idSignos}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'dd-mm-yyyy hh:mm:ss a'}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombrePaciente">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Paciente </th>
                <td mat-cell *matCellDef="let element"> {{element.paciente.nombres}} {{element.paciente.apellidos}}</td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="temperatura">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </th>
                <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="pulso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </th>
                <td mat-cell *matCellDef="let element"> {{element.pulso}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="ritmoRespiratorio">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Respiratorio </th>
                <td mat-cell *matCellDef="let element"> {{element.ritmoRespiratorio}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" [routerLink]="[ 'edicion', element.idSignos]">
                        <mat-icon>ballot</mat-icon>
                    </button>
                    <button mat-button color="accent" (click)="eliminar(element.idSignos)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- displayedColumns: esta en el ts y define el nombre de las columnas para el datasout -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        <button mat-fab color="primary" style="float: right" routerLink="nuevo">
            <mat-icon>edit</mat-icon>
        </button>
    </div>

</div>