<div>
    <mat-form-field class='example-full-width'>
        <input matInput placeholder='Nombres' [(ngModel)]="medico.nombres">
    </mat-form-field>
    <mat-form-field class='example-full-width'>
        <input matInput placeholder='Apellidos' [(ngModel)]="medico.apellidos">
    </mat-form-field>
    <mat-form-field class='example-full-width'>
        <input matInput placeholder='CMP' [(ngModel)]="medico.cmp" maxlength="10" minlength="10">
    </mat-form-field>
    <mat-form-field class='example-full-width'>
        <input matInput placeholder='Foto' [(ngModel)]="medico.fotoUrl">
    </mat-form-field>
    <img mat-card-image [src]="medico.fotoUrl" alt="" width="50%" height="50%" *ngIf="medico.fotoUrl != null">
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>

