<mat-toolbar>
    <span>Especialidades</span>
</mat-toolbar>

<!-- Router oulet permite navegar a los hijos del padre, este componente debe ir siempre en el padre -->
<router-outlet></router-outlet>


<div [hidden]="route.children.length !== 0">
    <div class="example-header">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar Especialidad">
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort>

            <!-- IdExamen Column -->
            <ng-container matColumnDef="idEspecialidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Especialidad </th>
                <td mat-cell *matCellDef="let element"> {{element.idEspecialidad}} </td>
            </ng-container>

            <!-- Nombre Column -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" [routerLink]="[ 'edicion', element.idEspecialidad]">
                        <mat-icon>ballot</mat-icon>
                    </button>
                    <button mat-button color="accent" (click)="eliminar(element.idEspecialidad)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <!-- displayedColumns: esta en el ts y define el nombre de las columnas para el datasout -->
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

        <button mat-fab color="primary" style="float: right" routerLink="nuevo">
            <mat-icon>edit</mat-icon>
        </button>
    </div>

</div>