<!-- Router oulet permite navegar a los hijos del padre, este componente debe ir siempre en el padre -->
<router-outlet></router-outlet> 
<p>Lista de exámenes</p>

<div class="example-header">
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar Examen">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

        <!-- IdExamen Column -->
        <ng-container matColumnDef="idExamen">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Examen </th>
            <td mat-cell *matCellDef="let element"> {{element.idExamen}} </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Descripcion Column -->
        <ng-container matColumnDef="descripcion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" [routerLink]="[ 'edicion', element.idExamen]">
                    <mat-icon>ballot</mat-icon>
                </button>
                <button mat-button color="accent" (click)="eliminar(element.idExamen)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- displayedColumns: esta en el ts y define el nombre de las columnas para el datasout -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <button mat-fab color="primary" style="float: right" routerLink="nuevo">
        <mat-icon>edit</mat-icon>
    </button>
</div>


