<mat-toolbar>
    <span>REGISTRAR CONSULTA</span>
</mat-toolbar>

<div class="example-container">
    <mat-form-field>
        <mat-label>Paciente</mat-label>
        <mat-select placeholder="Paciente" [(value)]='idPacienteSeleccionado'>
            <mat-option *ngFor="let p of pacientes" [value]="p.idPaciente">
                {{p.nombres}} {{p.apellidos}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Especialidad</mat-label>
        <mat-select placeholder="Especialidad" [(value)]='idEspecialidadSeleccionado'>
            <mat-option *ngFor="let e of especialidades" [value]="e.idEspecialidad">
                {{e.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Médico</mat-label>
        <mat-select placeholder="Médico" [(value)]='idMedicoSeleccionado'>
            <mat-option *ngFor="let m of medicos" [value]="m.idMedico">
                {{m.nombres}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha"
            [(ngModel)]="fechaSeleccionada">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Diagnóstico" [(ngModel)]="diagnostico"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Tratamiento" [(ngModel)]="tratamiento"></textarea>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="agregarDetalle()">
        Agregar Detalle
        <mat-icon>add</mat-icon>
    </button>

    <mat-accordion>

        <mat-expansion-panel *ngFor="let d of detalleConsulta ; let i=index" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{i+1}} {{d.diagnostico}}
                </mat-panel-title>
                <mat-panel-description>
                    Ver Tratamiento
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-form-field>
                <textarea matInput placeholder="Tratamiento" cols="70" rows="3" value={{d.tratamiento}}></textarea>
            </mat-form-field>

            <button mat-raised-button color="warn" (click)="removerDiagnostico(i)">
                Remover
                <mat-icon>delete</mat-icon>
            </button>

        </mat-expansion-panel>
    </mat-accordion>

    <mat-form-field>
        <mat-label>Exámenes</mat-label>
        <mat-select placeholder="Exámen" [(value)]='idExamenSeleccionado'>
            <mat-option *ngFor="let ex of examenes" [value]="ex.idExamen">
                {{ex.nombre}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="agregarExamen()">
        Agregar Exámen
        <mat-icon>add</mat-icon>
    </button>

    <mat-toolbar *ngFor="let es of examenesSeleccionados; let i=index">
        <span>{{es.nombre}}</span>
        <button mat-raised-button color="warn" (click)="removerExamen(i)">
            Remover
            <mat-icon>delete</mat-icon>
        </button>
    </mat-toolbar>
    <br>
    <br>

    <div class="buttom-seccion">
        <button  mat-raised-button color="accent" (click)="registrar()" [disabled]="estadoBotonRegistrar()">
            REGISTRAR
            <mat-icon>save</mat-icon>
        </button>
    
    </div>
    
</div>