.example-container{
    display: flex;
    flex-direction: column;
 }
 
 .example-container > *{
    width: 100%;
    padding: 10 10 10 10;
 }
 
 .invalido{
    color: red;
 }
 
 .example-card {
    max-width: 400px;
  }
 
 .content-main{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
 }