<div class="content-main">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Ingrese datos del Especialidad</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="example-container" [formGroup]="form" #frmEspecialidad="ngForm" (ngSubmit)="operar()">
                <div [hidden]="true">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="ID" required formControlName="id">
                    </mat-form-field>
                </div>
                <mat-form-field>
                    <input matInput placeholder="Nombre" required formControlName="nombre">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="frmEspecialidad.invalid">
                    <mat-icon>done</mat-icon>
                    <span>Aceptar</span>
                </button>
                <button mat-raised-button color="accent" routerLink='/especialidad' type="button">
                    <mat-icon>close</mat-icon>
                    <span>Cancelar</span>
                </button>

            </form>
        </mat-card-content>
    </mat-card>
</div>
