<mat-slide-toggle (toggleChange)="isLinear = !isLinear">
    {{!isLinear ? 'Modo lineka deshabilitado' : 'Modo lineka habilitado'}}
</mat-slide-toggle>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel> Principal </ng-template>
            <mat-form-field>
                <mat-label>Paciente</mat-label>
                <mat-select placeholder="Paciente" [(value)]='pacienteSeleccionado'>
                    <mat-option *ngFor="let p of pacientes" [value]="p">
                        {{p.nombres}} {{p.apellidos}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Especialidad</mat-label>
                <mat-select placeholder="Especialidad" [(value)]='especialidadSeleccionado'>
                    <mat-option *ngFor="let e of especialidades" [value]="e">
                        {{e.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha"
                    formControlName="fecha">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Diagnóstico" [(ngModel)]="diagnostico"
                    formControlName="diagnostico"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Tratamiento" [(ngModel)]="tratamiento"
                    formControlName="tratamiento"></textarea>
            </mat-form-field>

            <button mat-raised-button color="accent" type="button" (click)="agregarDetalle()">
                Agregar Detalle
                <mat-icon>add</mat-icon>
            </button>
            <br>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let d of detalleConsulta ; let i=index" (opened)="panelOpenState = true"
                    (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{i+1}} {{d.diagnostico}}
                        </mat-panel-title>
                        <mat-panel-description>
                            Ver Tratamiento
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field>
                        <textarea matInput placeholder="Tratamiento" cols="70" rows="3"
                            value={{d.tratamiento}}></textarea>
                    </mat-form-field>

                    <button mat-raised-button color="warn" type="button" (click)="removerDiagnostico(i)">
                        Remover
                        <mat-icon>delete</mat-icon>
                    </button>

                </mat-expansion-panel>
            </mat-accordion>
            <mat-form-field>
                <mat-label>Exámenes</mat-label>
                <mat-select placeholder="Exámen" [(value)]='examenSeleccionado'>
                    <mat-option *ngFor="let ex of examenes" [value]="ex">
                        {{ex.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="accent" type="button" (click)="agregarExamen()">
                Agregar Exámen
                <mat-icon>add</mat-icon>
            </button>

            <mat-toolbar *ngFor="let es of examenesSeleccionados; let i=index">
                <span>{{es.nombre}}</span>
                <button mat-raised-button color="warn" type="button" (click)="removerExamen(i)">
                    Remover
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-toolbar>

            <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%">
                <div class="example-card" *ngFor="let m of medicos">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title (click)="seleccionarMedico(m)"
                                [ngClass]="medicoSeleccionado === m ? 'medicoCSS': ''">{{m.nombres}} {{m.apellidos}}
                            </mat-card-title>
                            <mat-card-subtitle>{{m.cmp}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image [src]="m.fotoUrl" style="cursor : pointer" (click)="seleccionarMedico(m)">
                        <mat-card-content>
                            <p>Registro del médico es : {{m.cmp}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div>
                <button mat-raised-button matStepperNext color="primary" style="float: right;">Siguiente</button>
            </div>

        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel> Consultorio </ng-template>
            <h1 id="consultorio">SELECCIONAR CONSULTORIO</h1>
            <mat-grid-list cols="10">
                <mat-grid-tile (click)="seleccionarConsultorio(c)" *ngFor="let c of consultorios"
                    [ngClass]="consultorioSeleccionado === c ? 'consultorioCSS': '' ">
                    {{c}}
                </mat-grid-tile>
            </mat-grid-list>
            <div>
                <button mat-button matStepperPrevious>Atrás</button>
                <button mat-raised-button matStepperNext color="primary" style="float: right;">Siguiente</button>
            </div>

        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel> Confirma </ng-template>
        <h3 *ngIf="especialidadSeleccionado"> Especialidad: {{especialidadSeleccionado.nombre}}</h3>
        <h3 *ngIf="pacienteSeleccionado"> Paciente: {{pacienteSeleccionado.nombres}} {{pacienteSeleccionado.apellidos}}</h3>
        <h3 *ngIf="medicoSeleccionado"> Especialidad: {{medicoSeleccionado.nombres}}  {{medicoSeleccionado.apellidos}}</h3>
        <h3 *ngIf="consultorioSeleccionado"> Consultorio: {{consultorioSeleccionado}} </h3>

        <div>
            <button mat-button matStepperPrevious>Atrás</button>
            <button mat-raised-button  color="accent" (click)="stepper.reset()">Resetear</button>
            <button mat-raised-button color="primary" (click)="registrar()" [disabled]="estadoBotonRegistrar()" style="float: right;">Registrar</button>

        </div>
        
    </mat-step>
</mat-horizontal-stepper>