<mat-toolbar>
    <span>Búsqueda de Consullta</span>
</mat-toolbar>

<form [formGroup]="form" (ngSubmit)="buscar()">

    <mat-form-field>
        <input matInput placeholder="DNI" formControlNme="dni">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nombre completo" formControlName="nombreCompleto">
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" [max]="maxFecha" placeholder="Escoja una fecha"
            formControlName="fechaConsulta">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Buscar</button>

    <table mat-table [dataSource]="dataSource">
       
        <ng-container matColumnDef="paciente">
            <th mat-header-cell *matHeaderCellDef> Paciente </th>
            <td mat-cell *matCellDef="let element"> {{element.paciente.nombres | uppercase }} {{element.paciente.apellidos | uppercase}}
            </td>
        </ng-container>


        <ng-container matColumnDef="medico">
            <th mat-header-cell *matHeaderCellDef> Médico </th>
            <td mat-cell *matCellDef="let element"> {{element.medico.nombres | uppercase }} {{element.medico.apellidos | uppercase}}
            </td>
        </ng-container>

        <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef> Especialidad </th>
            <td mat-cell *matCellDef="let element"> {{element.especialidad.nombre | uppercase }} </td><!-- Símbolo ( | ) o pipe sirve para transformar el texto HTML -->
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'dd-mm-yyyy hh:mm:ss a' }} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button type="button" color='primary' (click)="verDetalle(element)">Ver
                    Detalle</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</form>