.content{
   margin: 0 auto;
   padding-top: 20px;
   width: 600px;
 }

.example-container{
    display: flex;
    flex-direction: column;
 }
 
 .example-container > *{
    width: 100%;
    padding: 10 10 10 10;
 }
 
 .invalido{
    color: red;
 }
 
 .example-card {
    max-width: 400px;
  }
 
 .content-main{
    margin: 0 auto;
    margin-top: 30px;
    width: 600px;
 }