<div class="content-main">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Ingrese datos signos </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form class="example-container" [formGroup]="form" #frmSignos="ngForm" (ngSubmit)="operar()">
                <div [hidden]="true">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="ID" required formControlName="id">
                    </mat-form-field>
                </div>

                <mat-form-field>
                    <!-- La palabra f hace rferencia a la función de solo lectura -->
                    <!--  <div *ngIf="f.nombres.errors?.required" class="invalido">El campo es requerido</div>
                    <div *ngIf="f.nombres.errors?.minlength" class="invalido">El campo debe ser mayor a 3 caracteres</div> -->
                    <input matInput [matDatepicker]="picker" required formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
               

               <!--  <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Seleccione" aria-label="Number" matInput [(value)]='idPacienteSeleccionado'
                        [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let p of pacientes" [value]="p.idPaciente">
                            {{p.nombres}} {{p.apellidos}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> -->

                <mat-form-field>
                    <mat-label>Paciente</mat-label>
                    <mat-select placeholder="Paciente" [(value)]='idPacienteSeleccionado'>
                        <mat-option *ngFor="let p of pacientes" [value]="p.idPaciente">
                            {{p.nombres}} {{p.apellidos}}
                        </mat-option>
                    </mat-select>                    
                </mat-form-field>
                <button mat-raised-button color="primary" type="button" (click)="abrirModal()">
                    <mat-icon>add</mat-icon>Nuevo Paciente
                </button>


                <mat-form-field>
                    <input matInput placeholder="Temperatura" required formControlName="temperatura">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Pulso" required formControlName="pulso">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Ritmo Respiratorio" required formControlName="ritmoRespiratorio">
                </mat-form-field>

                <button mat-raised-button color="primary" type="submit" [disabled]="frmSignos.invalid">
                    <mat-icon>done</mat-icon>
                    <span>Aceptar</span>
                </button>
                <button mat-raised-button color="accent" routerLink='/signos' type="button">
                    <mat-icon>close</mat-icon>
                    <span>Cancelar</span>
                </button>

            </form>
        </mat-card-content>
    </mat-card>
</div>